<div class="row py-4 pt-5">

  <div class="col">
    <arielle-form-button [alert]="true">Button</arielle-form-button>
  </div>
  <div class="col">
    <arielle-form-button [primary]="true">Button</arielle-form-button>
  </div>
  <div class="col">
    <arielle-form-button [primary2]="true">Button</arielle-form-button>
  </div>
  <div class="col">
    <arielle-form-button [callModal]="true" [buttonMinimalist]="true">
      <fa-icon [icon]="faCoffee" arielle-button-icon></fa-icon>
      <!-- Button -->
    </arielle-form-button>
  </div>
  <div class="col">
    <arielle-form-button [enableModal]="true">Button</arielle-form-button>
  </div>

</div>

<arielle-drawer-container>
  <arielle-drawer [position]="'left'" [navBarLinks]="navBarLinks" appLogoBigSrc="assets/poshlogo.png"
    appLogoSmallSrc="assets/MEDSERVE.png">
  </arielle-drawer>
  <p>sdgfsdjgs</p>
  <p>sdgfsdjgs</p>
</arielle-drawer-container>