

// Common SCSS variables for all themes
$button-padding: 10px 20px;
$button-border-radius: 10px;
$button-font-size: 16px;
$button-min-height:50px;
$button-min-width:130px;
$button-display:block;
$button-overflow:hidden;
$button-text-align:center;
$button-line-height:1.2;
$button-font-size:1rem;
$button-box-sizing:border-box;
$button-border:0;
$button-cursor:pointer;
$button-opacity:1;
$button-opacity-hover:1;

