@use './variables';
// @import "./fonts.css";

@font-face {
  font-family: 'Avenir Rounded';
  src:url('./Nunito-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

$button-primary-bg-color: #004A87;
$button-primary2-bg-color:#4AC0E4;
$button-alert-bg-color: #E54617;
$button-call-modal-bg-color: #45B90A;
$button-enable-modal-bg-color: #0F7CFF;
$button-text-color: #ffffff;
$button-font-family: 'Avenir Rounded';
// $button-border-color: #cccccc;

:root {
  --button-primary-bg-color: #{$button-primary-bg-color};
  --button-primary2-bg-color:#{$button-primary2-bg-color};
  --button-alert-bg-color:#{$button-primary2-bg-color};
  --button-call-modal-bg-color:#{$button-primary2-bg-color};
  --button-enable-modal-bg-color:#{$button-primary2-bg-color};
  --button-text-color: #{$button-text-color};
  --button-font-family : #{$button-font-family};
}
